# Python cache files
__pycache__/
*.py[cod]

# Environment variables
.env

# VSCode settings folder
.vscode/

# MacOS system files
.DS_Store

# Logs and temp files
*.log
*.tmp

# Pytest cache
.cache/

# Byte-compiled / optimized / DLL files
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
